include header

h2 My app
p #{foo}
h3 #{bar}

ul
  li
    a(href="cat") go to category

each val, index in goods
  p #{val['name']}
  img(
    src='images/'+val['image']
    class="card-images"
  )